<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<dict>
		<key>code1</key>
		<string>57115789AFFF2BA5EEF1D45C4BCB5840</string>
		<key>code2</key>
		<string>1A69D37B95120FEE4A6501DBF5BE63C7</string>
		<key>code3</key>
		<string>2FF6A494BCE25C36ED9207587B14C313</string>
		<key>code4</key>
		<string>5FB877CD5143C7EF77BBAEF11914CE10</string>
	</dict>
	<key>agcgw</key>
	<dict>
		<key>backurl</key>
		<string>connect-drcn.dbankcloud.cn</string>
		<key>url</key>
		<string>connect-drcn.hispace.hicloud.com</string>
	</dict>
	<key>client</key>
	<dict>
		<key>appType</key>
		<string>9998</string>
		<key>cp_id</key>
		<string>260086000103371926</string>
		<key>product_id</key>
		<string>9105385871708334678</string>
		<key>client_id</key>
		<string>256132538915881984</string>
		<key>client_secret</key>
		<string>B1AE9B5FDB917EDF587FFB05146FB2E52F123D3E2A4A8DDEDADDB4BD7C4CBD1E</string>
		<key>project_id</key>
		<string>258913027873080783</string>
		<key>app_id</key>
		<string>101516061</string>
		<key>api_key</key>
		<string>CV5E56FEpoV8BGg2ja1GTIhwwbgpmILA2hV5JnM3M/4ZXfDy48nvAPbBRXwQE4u57yEaaMyXwyZTnPBmShfLLA6S6mg0</string>
		<key>package_name</key>
		<string>com.huawei.bookinfo</string>
	</dict>
	<key>service</key>
	<dict>
		<key>analytics</key>
		<dict>
			<key>collector_url</key>
			<string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
			<key>resource_id</key>
			<string>p1</string>
			<key>channel_id</key>
			<string></string>
		</dict>
		<key>search</key>
		<dict>
			<key>url</key>
			<string>https://search-drcn.cloud.huawei.com</string>
		</dict>
		<key>ml</key>
		<dict>
			<key>mlservice_url</key>
			<string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
		</dict>
		<key>cloudstorage</key>
		<dict>
			<key>storage_url</key>
			<string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
		</dict>
	</dict>
	<key>region</key>
	<string>CN</string>
</dict>
</plist>
