<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<dict>
		<key>code1</key>
		<string>0690DEC421E5AB010F03DC5C6A23A6FB</string>
		<key>code2</key>
		<string>A2A209E8B83599C06C44992DAB0479DF</string>
		<key>code3</key>
		<string>0D4130B7FA89785C16C11D4EB72121A1</string>
		<key>code4</key>
		<string>364EE200078FC16FC695DA6329B8F9B5</string>
	</dict>
	<key>agcgw</key>
	<dict>
		<key>backurl</key>
		<string>connect-drcn.dbankcloud.cn</string>
		<key>url</key>
		<string>lfagcgwtest01cn.hwcloudtest.cn:18062</string>
		<key>websocketbackurl</key>
		<string>connect-ws-drcn.hispace.dbankcloud.cn</string>
		<key>websocketurl</key>
		<string>connect-ws-drcn.hispace.dbankcloud.com</string>
	</dict>
	<key>agcgw_all</key>
	<dict>
		<key>CN</key>
		<string>lfagcgwtest01cn.hwcloudtest.cn:18062</string>
		<key>CN_back</key>
		<string>connect-drcn.dbankcloud.cn</string>
		<key>DE</key>
		<string>lfagcgwtest01cn.hwcloudtest.cn:18062</string>
		<key>DE_back</key>
		<string>connect-dre.dbankcloud.cn</string>
		<key>RU</key>
		<string>lfagcgwtest01cn.hwcloudtest.cn:18062</string>
		<key>RU_back</key>
		<string>connect-drru.dbankcloud.cn</string>
		<key>SG</key>
		<string>lfagcgwtest01cn.hwcloudtest.cn:18062</string>
		<key>SG_back</key>
		<string>connect-dra.dbankcloud.cn</string>
	</dict>
	<key>oauth_client</key>
	<dict>
		<key>client_id</key>
		<string>101641217</string>
		<key>client_type</key>
		<string>22</string>
	</dict>
	<key>configuration_version</key>
	<string>3.0</string>
	<key>app_info</key>
	<dict>
		<key>app_id</key>
		<string>99137083448236541</string>
		<key>package_name</key>
		<string>com.guass.test.smoke</string>
	</dict>
	<key>client</key>
	<dict>
		<key>cp_id</key>
		<string>890086000000007067</string>
		<key>product_id</key>
		<string>401697704418754985</string>
		<key>client_id</key>
		<string>581000571733945600</string>
		<key>client_secret</key>
		<string>[!00EC74E0DD7C07431944DBF139C1AD53774D06FC36CFB4D9F62184D0AD0AD3A628E95580BFB501584A9FE92C23AB45E52E346E0FDBBC4304B086BFC300A7296EEBF5CA10807B928527A24D3F5B27F2EF3C4360E3DC49C871CE3E815EDC017DA9C5]</string>
		<key>project_id</key>
		<string>401697704418754985</string>
		<key>app_id</key>
		<string>99137083448236541</string>
		<key>api_key</key>
		<string>CgB6e3x9n2GgfdHWGcCdHPbT2FHPhXDz5CkyfRpP2gXcYL7n+7Ym2zyfwU82Ahy2epLG1ZSYAZXtcPVMTviaSHzZ</string>
		<key>package_name</key>
		<string>com.naturalbase.bookInfoDemo</string>
	</dict>
	<key>service</key>
	<dict>
		<key>analytics</key>
		<dict>
			<key>channel_id</key>
			<string></string>
			<key>collector_url</key>
			<string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
			<key>resource_id</key>
			<string>p1</string>
		</dict>
		<key>search</key>
		<dict>
			<key>url</key>
			<string>https://search-drcn.cloud.huawei.com</string>
		</dict>
		<key>ml</key>
		<dict>
			<key>mlservice_url</key>
			<string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
		</dict>
		<key>cloudstorage</key>
		<dict>
			<key>storage_url</key>
			<string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
		</dict>
	</dict>
	<key>region</key>
	<string>CN</string>
</dict>
</plist>
