<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>2EE850AD09252D9876F4FD97C47F46D4</string>
            <key>code2</key>
            <string>88339581E5485A1F96D63A26E0613D18</string>
            <key>code3</key>
            <string>CA103EFF73D2AB742EFCB6B2EB9BF9FF</string>
            <key>code4</key>
            <string>8CAE16F13EC9D0490BF909EF3EC7F931</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>url</key>
            <string>connect-drcn.hispace.hicloud.com</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>10086000000000293</string>
            <key>product_id</key>
            <string>736430079244589377</string>
            <key>client_id</key>
            <string>421545688489264256</string>
            <key>client_secret</key>
            <string>[!00FE2F8912ABE2D9CE3A26DF9DAC8F9B002243A1E57D55228F7344DBE94674C898C76898E592CB3851BD4041AC5B6835108FF340D85B18FF3948FBE58F9E975F782D8AB2D8AE90789D871900E6084CCE6117CC38F398336D5EFE5EB7D218264E3B]</string>
            <key>app_id</key>
            <string>9105385871710599161</string>
            <key>package_name</key>
            <string>com.lucky.agc.demo</string>
            <key>api_key</key>
            <string>CgB6e3x99PcoOKz33MZuURuamPYFosA461IdLpBB+OyVFt47qCsPJ06+WIcLVSLUsHx4MQoyL4kWyqHSOGzXxgVE</string>
        </dict>
        <key>service</key>
        <dict>
            <key>analytics</key>
            <dict>
                <key>collector_url</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
                <key>channel_id</key>
                <string/>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
            </dict>
        </dict>
    </dict>
</plist>
